@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared Style  */
.display-flex{
    display: flex;
}
.h3-title{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}
.primary-btn{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.28rem;
    font-weight: 600;
    border: none;
    border-radius: 10px;
}
.text-color{
    color: #727272;
}
.dark-2{
    color: #424242;
}
.orange{
    color: #FF900E;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}



/* Navbar Style  */
.header-container{
    background-color: rgba(255, 144, 14, 0.1);
}
.navbar{
    justify-content: space-between;
    align-items: center;
}

.nav-items{
    list-style: none;
    margin-right: 30px;
}
.nav-items a {
    color: #131313;
    text-decoration: none;
    font-size: 1.25rem;
}

/* Banner Style  */
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.banner-content{
    max-width: 850px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
}
.banner-image{
    width: 100%;
}

/* Main Related Style  */

.team-features{
    align-items: center;
    gap: 90px;
}
.team-features-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.team-features-content{
    max-width: 530px;
}






/* Responsive Media Query  */
@media screen and (max-width: 576px){
    .navbar, .nav-links{
        flex-direction: column;
    }
}